    <tr>
    <td><%= donor.familyname %></td>
    <td><%= donor.status %></td>
    <td><%= donor.amount %></td>
    <td><%= donor.school %></td>
	<% if current_user == donor.user %>
	  <td>  <%= link_to 'Edit', edit_donor_path(donor) %></td>
	  <td>  <%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  <%end%>
	  </tr>