<%= simple_form_for(@donor, html: { class: "form horizontal"}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :familyname %>
    <%= f.input :status %>
    <%= f.input :amount %>
    <%= f.input :school %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary"%>
  </div>
<% end %>
