<h1>Listing donors</h1>

<table>
  <tr>
    <th>Familyname</th>
    <th>Status</th>
    <th>Amount</th>
    <th>School</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donors.each do |donor| %>
  <tr>
    <td><%= donor.familyname %></td>
    <td><%= donor.status %></td>
    <td><%= donor.amount %></td>
    <td><%= donor.school %></td>
    <td><%= link_to 'Show', donor %></td>
    <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
    <td><%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Donor', new_donor_path %>
